/* Write your global styles here, in PostCSS syntax */

@tailwind base;

body {
   @apply flex flex-col relative m-0 place-items-center bg-[conic-gradient(at_top,_var(--tw-gradient-stops))] from-purple-200 via-orange-500 to-gray-600 text-brawnis;
   font-family: "Poppins", sans-serif;
}

#app {
   @apply lg:min-w-[1000px] text-center p-4 mx-auto relative;
}

@tailwind components;

@tailwind utilities;
