@tailwind base;

*,
body,
html {
   font-family: "Poppins", sans-serif;
}
body {
   @apply flex flex-col relative m-0 place-items-center text-brawnis;
   background: #d3f36b;
}

#app {
   @apply lg:min-w-[1000px] text-center p-4 mx-auto relative;
}

@tailwind components;
@tailwind utilities;
